body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 16px 16px;
}

.navbar {
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 0 0;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 999;
}

.body {
  padding-top: 12vh;
  margin-top: 16px;
}

.pokemon-logo {
  height: 50px;
}

.title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.owned-section {
  text-align: center;
  margin-top: 8px;
  font-weight: bolder;
}

.pokeball {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 8px;
  position: relative;
  border-radius: 50%;
  border: 1px solid black;
  background-image: -moz-linear-gradient(-90deg, red 55%, red 50%, #fff 55%);
  background-image: -webkit-linear-gradient(-90deg, red 55%, red 50%, #fff 55%);
}

.pokeball:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 6;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #aaa, 0 0 0 8px #fff, 0 0 0 9px #3f3f3f;
  margin: 48%;
}

.pokemon-list {
  display: flex;
  overflow: scroll;
  margin-top: 16px;
  flex-wrap: wrap;
}

.pokemon-section {
  padding: 8px 0;
  width: 24%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.name-section {
  text-align: center;
  font-weight: bolder;
  margin-top: 12px;
  text-transform: uppercase;
}

.detail-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.profile-picture {
  height: 100px;
}

.detail-section img.sprites {
  height: 60px;
}

.name-title-section {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

.type-section,
.move-section {
  margin-top: 8px;
}

.catch-button {
  margin-top: 12px;
  font-weight: bolder;
  background: white;
  padding: 8px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
}

.release-button {
  font-weight: bolder;
  background: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

.back-button {
  font-weight: bolder;
  background: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 8px;
}

.submit-button {
  font-weight: bolder;
  background: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  margin: 12px 8px 0;
}

.submit-button:active, .submit-button:hover,
.release-button:active, .release-button:hover,
.release-text:active, .release-text:hover,
.catch-button:active, .catch-button:hover,
.back-button:active, .back-button:hover {
  background: #efd3ba;
}

.input-nickname {
  margin-top: 12px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.nickname-section {
  padding: 8px 0;
  max-width: 300px;
  overflow-wrap: break-word;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 14px;
  letter-spacing: 1px;
  border-bottom: 1px solid #c8c8c8;
}
.nav-options div {
  cursor: pointer;
  width: 100%;
}

.nav-options div:hover {
  font-weight: bolder;
}

.nav-logo {
  margin-bottom: 8px;
}

.pokemon-detail {
  padding-top: 20px;
}

.header-content {
  width: 100%;
  display: flex;
}

.body-content {
  padding-top: 16px;
  text-align: center;
}

.pokemon-nickname {
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  max-width: 110px;
  text-overflow: ellipsis;
}

.nickname-text-section {
  font-weight: bolder;
}

.pokemon-name {
  text-align: center;
  white-space: nowrap;
}

.detail-section .pokemon-name {
  font-size: 14px;
}

.warning-text {
  margin-top: 8px;
  font-size: 12px;
  color: #954949;
}

.release-text {
  border: 1px solid black;
  padding: 4px;
  font-size: 12px;
  border-radius: 6px;
  margin-top: 4px;
  cursor: pointer;
  background: white;
}

.centered {
  display: flex;
  justify-content: center;
}

.load-more-section {
  padding: 8px 0;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 20vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 480px;
  border-radius: 8px;
}

.image-section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.image-skeleton {
  height: 100px;
  width: 100px;
  background: white;
}

.sprite-skeleton {
  height: 60px;
  width: 60px;
  background: white;
}

@media screen and (max-width: 375px) {
  .body {
    padding-top: 15vh;
  }
}

@media screen and (max-width: 414px) {
  .pokemon-nickname {
    max-width: 80px;
  }
}
